:root {
  --my-success-color: #2e7d32;
  --my-primary-color: #1976D2;
  --my-warning-color: #FBC02D;
  --my-secondary-color: #607D8B;
  --white: #ffffff;
  --black: #212121;
}

.bg-primary-color {
  background-color: var(--my-primary-color);
  color: var(--white);
}

.bg-success-color {
  background-color: var(--my-success-color);
  color: var(--white);
}

.bg-warning-color {
  background-color: var(--my-warning-color);
  color: #000;
}

.bg-secondary-color {
  background-color: var(--my-secondary-color);
  color: var(--white);
}

.text-primary-color {
  color: var(--my-primary-color) !important;
  text-shadow: 1px 1px #cacaca;
}

.font-nm {
  font-size: 18px !important;
}

.font-lg {
  font-size: 24px !important;
}

.bg-dashed {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 0px,
    rgba(255, 255, 255, 0.3) 10px,
    transparent 10px,
    transparent 20px
  );
}